.calculator {
	width: 325px;
	width: 310px;
	height: 460px;
	margin: 15px auto;
	padding: 5px;
	border-radius: 10px;
	color: #fff;
	background: #333;
	font-family: Helvetica;
}

.display {
	height: 70px;
    width: 300px;
    margin: auto;
    margin-bottom: 5px;
    text-align: right;
    font-size: 60px;
    padding: 0 5px;
    background: #d6d6d6;
    color: black;
}

.operators span {
	display: block;
	width: 45px;
	height: 45px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 39px;
	padding: 2px;
	margin: 5px 8px;
	background: #707070;
	border-radius: 10px;
	border: 1px outset black;
	cursor: pointer;
	box-sizing: border-box;
}

.operators span:active {
	border: 2px solid red;
}

.numbers span {
	display: block;
	width: 70px;
	height: 70px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 43px;
	padding: 10px;
	margin: 5px 15px;
	background: #707070;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	border: 1px solid black;
}

.numbers span:active {
	border: 2px solid red;
}

.numbers .clear {
	color: #005A00;
}

.operators .igual {
	color: #00003D;
}
.numbers, .operators {
	margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}